# DO NOT COMMIT THIS FILE
# share it with your team through a secure channel

[generate]
key = tSZVGEg34rws5dND2h-oj1yuFh-fwHVPjmvr7rF0DPc=

[encrypt]
key = r-OlDt1JPOjtLBAfMHeP2fPSiz6tNrBKXmM1AcqFu3o=
